{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <p class="lead">SPARQLab slouží k procvičování <a href="https://www.w3.org/TR/sparql11-query/">dotazovacího jazyka <abbr title="SPARQL Protocol And RDF Query Language" class="initialism">SPARQL</abbr></a>.</p>

    <h2>Autoři</h2>

    <ul>
      <li><a href="http://mynarz.net/#jindrich">Jindřich Mynarz</a></li>
      <li><a href="http://nb.vse.cz/~svatek">Vojtěch Svátek</a></li>
      <li><a href="http://nb.vse.cz/~xkucj30">Jan Kučera</a></li>
    <ul>

    <p>Vývoj aplikace byl podpořen z interního rozvojového projektu Vysoké školy ekonomické č. 6/2016.</p>
  </div>
</div>
{% endblock %}
