<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SPARQLab | {{title}}</title>
    <link href="{{servlet-context}}/favicon.ico" rel="shortcut icon"/>

    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&subset=latin,latin-ext"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext"
          rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/g/yasqe@2.11.10(yasqe.min.css),yasr@2.10.8(yasr.min.css)"
          rel="stylesheet"/>
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/awesomplete.css" %}
    {% style "/assets/codemirror-minified/lib/codemirror.css" %}
    {% style "/css/merge.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-light bg-faded" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
              <a class="navbar-brand" href="{{servlet-context}}/" rel="home">
                SPARQLab<sup title="{{beta-version}}">&beta;</sup>
              </a>
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a href="#"
                         class="nav-link dropdown-toggle"
                         data-toggle="dropdown"
                         role="button"
                         aria-haspopup="true"
                         aria-expanded="false">
                      {{exercise}}
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item
                           {% ifequal page "exercises_by_difficulty.html" %}
                           active
                           {% endifequal %}"
                           href="{{servlet-context}}/">
                           {{by-difficulty}}
                        </a>
                        <a class="dropdown-item
                          {% ifequal page "exercises_by_category.html" %}
                          active
                          {% endifequal %}"
                          href="{{servlet-context}}/exercises/by-categories">
                          {{by-category}}
                        </a>
                        <a class="dropdown-item
                           {% ifequal page "exercises_by_language_constructs.html" %}
                           active
                           {% endifequal %}"
                           href="{{servlet-context}}/exercises/by-language-constructs">
                           {{by-language-constructs}}
                        </a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/endpoint"
                         class="nav-link {% ifequal page "endpoint.html" %}active{%endifequal%}">
                         {{sparql-endpoint}}
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/data"
                         class="nav-link {% ifequal page "data.html" %}active{%endifequal%}">
                         {{data-title}}
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/about"
                         class="nav-link {% ifequal page "about.html" %}active{%endifequal%}">
                         {{about.title}}
                      </a>
                  </li>
                </ul>
                <form class="navbar-form form-inline pull-right"
                      role="search"
                      action="{{servlet-context}}/search"
                      method="GET">
                  <div class="input-group">
                    <label class="sr-only" for="search">{{search-query}}:</label>
                    <input class="awesomplete form-control form-control-sm"
                           id="search-term"
                           name="q"
                           placeholder="{{search}}"
                           type="text"/>
                    <input class="hidden"
                           id="search-construct"
                           name="construct"
                           type="text"/>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-default">
                        <i class="fa fa-search" title="{{search}}" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </form>
          </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    <script>
      var context = "{{servlet-context}}",
          acceptLang = "{{accept-lang}}";
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100486526-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/assets/codemirror-minified/lib/codemirror.js" %}
    {% script "/js/awesomplete.min.js" %}
    {% script "/js/yasqe.min.js" %}
    {% script "/js/yasr.bundled.min.js" %}
    {% script "/js/script.js" %}

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
