{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <p>SPARQLab používá <a href="https://data.cssz.cz/web/otevrena-data/-/duchodci-v-cr-krajich-okresech">data o důchodových ročenkách</a> od <a href="http://www.cssz.cz">České správy sociálního zabezpečení</a>. Užití těchto otevřených dat se řídí <a href="https://data.cssz.cz/web/otevrena-data/podminky-uziti">těmito podmínkami</a>.</p>
    <p>V dotazech jsou používány tyto prefixy jmenných prostorů:</p>
    <pre>
{% for prefix in prefixes %}PREFIX {{prefix.prefix}}: &lt;{{prefix.namespace}}&gt;
{% endfor %}
    </pre>
  </div>
</div>
{% endblock %}
