{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{name}}</h1>
    <div class="row">
      <div class="col-md-8">
        {{description|markdown}}
        {% if requires|not-empty %}
        <p>
        <strong>
          <i class="fa fa-check" aria-hidden="true"></i>
          {{required-constructs}}:
        </strong>
          {% for require in requires %}
          {{require.label|inline-markdown}}{% ifequal forloop.counter forloop.length|dec %} {{and}} {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
          {% endfor %}
        </p>
        {% endif %}
        {% if prohibits|not-empty %}
        <p>
        <strong>
          <i class="fa fa-ban" aria-hidden="true"></i>
          {{prohibited-constructs}}:
         </strong>
          {% for prohibit in prohibits %}
          {{prohibit.label|inline-markdown}}{% ifequal forloop.counter forloop.length|dec %} {{and}} {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
          {% endfor %}
        </p>
        {% endif %}
        <form action="{{servlet-context}}/exercise/evaluate/{{id}}" method="POST">
          {% include "sparql_editor.html" %}
          <div class="control-buttons hidden btn-group" role="group">
            <button id="run-query" type="button" class="btn btn-default">{{endpoint.run-query}}</button>
            <button type="submit" class="btn btn-primary">{{submit}}</button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        {% if note %}
        <div class="alert alert-info" role="alert">
          <h5><i class="fa fa-thumb-tack" aria-hidden="true"></i>{{note-title}}</h5>
          {{note|markdown}}
        </div>
        {% endif %}
        {% if prerequisites|not-empty %}
        <p class="exercises">
          <small class="text-muted">
            <strong>{{similar-exercises}}:</strong>
            {% for prerequisite in prerequisites %}
            <a href="{{servlet-context}}/exercise/show/{{prerequisite.id}}">{{prerequisite.name}}</a>{% ifequal forloop.counter forloop.length|dec %} {{and}} {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
            {% endfor %}
          </small>
        </p>
        {% endif %}
      </div>
    </div>
    {% include "sparql_results.html" %}
  </div>
</div>
{% include "error_modal.html" %}
{% endblock %}
{% block page-scripts %}
{% script "/js/editor.js" %}
{% endblock %}
