{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{title}}</h1>
    <div class="exercises" class="row">
      <div class="col-md-4">
        <h2>
          {{easy.0.difficultyLabel}}
          <span class="tag tag-pill tag-info">
            <i class="fa difficulty{{easy.0.difficultyLevel}}" aria-hidden="true"></i>
          </span>
        </h2>
        <ul> 
          {% for exercise in easy %}
          <li>
            <a href="{{servlet-context}}/exercise/show/{{exercise.id}}">{{exercise.name}}</a>
            {% ifequal exercise.status "solved" %}
            <i class="fa fa-check done-icon" title="Vyřešeno" aria-hidden="true"></i>
            {% endifequal %}
            {% ifequal exercise.status "revealed" %}
            <i class="fa revealed-icon" title="Prozrazeno" aria-hidden="true"></i>
            {% endifequal %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>
          {{normal.0.difficultyLabel}}
          <span class="tag tag-pill tag-info">
            <i class="fa difficulty{{normal.0.difficultyLevel}}" aria-hidden="true"></i>
          </span>
        </h2>
        <ul> 
          {% for exercise in normal %}
          <li>
            <a href="{{servlet-context}}/exercise/show/{{exercise.id}}">{{exercise.name}}</a>
            {% ifequal exercise.status "solved" %}
            <i class="fa fa-check done-icon" title="Vyřešeno" aria-hidden="true"></i>
            {% endifequal %}
            {% ifequal exercise.status "revealed" %}
            <i class="fa revealed-icon" title="Prozrazeno" aria-hidden="true"></i>
            {% endifequal %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>
          {{hard.0.difficultyLabel}}
          <span class="tag tag-pill tag-info">
            <i class="fa difficulty{{hard.0.difficultyLevel}}" aria-hidden="true"></i>
          </span>
        </h2>
        <ul> 
          {% for exercise in hard %}
          <li>
            <a href="{{servlet-context}}/exercise/show/{{exercise.id}}">{{exercise.name}}</a>
            {% ifequal exercise.status "solved" %}
            <i class="fa fa-check done-icon" title="Vyřešeno" aria-hidden="true"></i>
            {% endifequal %}
            {% ifequal exercise.status "revealed" %}
            <i class="fa revealed-icon" title="Prozrazeno" aria-hidden="true"></i>
            {% endifequal %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
