{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{title}}</h1>
    <div class="exercises column-3" class="row">
      <div class="col-md-12">
        {% for category, items in exercises %}
          <h2>{{category}}</h2>
          <ul> 
            {% for exercise in items %}
            <li>
              <a href="{{servlet-context}}/exercise/show/{{exercise.id}}">{{exercise.name}}</a>
              {% ifequal exercise.status "solved" %}
              <i class="fa fa-check done-icon" title="{{solved}}" aria-hidden="true"></i>
              {% endifequal %}
              {% ifequal exercise.status "revealed" %}
              <i class="fa revealed-icon" title="{{revealed}}" aria-hidden="true"></i>
              {% endifequal %}
              <span title="{{exercise.difficultyLabel}} {{difficulty}}" class="tag tag-pill tag-info">
                <i class="fa difficulty{{exercise.difficultyLevel}}" aria-hidden="true"></i>
              </span>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
