{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{name}}</h1>
    <div class="row">
      <div class="col-md-8">
        {{description|markdown}}
        {% if requires|not-empty %}
        <p>
        <strong>Povinné konstrukty:</strong>
          {% for require in requires %}
          <code>{{require.label}}</code>{% ifequal forloop.counter forloop.length|dec %} a {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
          {% endfor %}
        </p>
        {% endif %}
        {% if prohibits|not-empty %}
        <p>
        <strong>Zakázané konstrukty:</strong>
          {% for prohibit in prohibits %}
          <code>{{prohibit.label}}</code>{% ifequal forloop.counter forloop.length|dec %} a {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
          {% endfor %}
        </p>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if prerequisites|not-empty %}
        <small class="text-muted">
          <strong>Podobná cvičení:</strong>
          {% for prerequisite in prerequisites %}
          <a href="/exercise/show/{{prerequisite.id}}">{{prerequisite.name}}</a>{% ifequal forloop.counter forloop.length|dec %} a {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}
          {% endfor %}
        </small>
        {% endif %}
      </div>
    </div>
    <form action="/exercise/evaluate/{{id}}" method="POST">
      {% csrf-field %}
      {% include "sparql_editor.html" %}
      <div class="control-buttons hidden btn-group" role="group">
        <button id="run-query" type="button" class="btn btn-default">Spustit dotaz</button>
        <button type="submit" class="btn btn-primary">Odeslat</button>
      </div>
    </form>
    {% include "sparql_results.html" %}
  </div>
</div>
{% endblock %}
{% block page-scripts %}
{% script "/js/editor.js" %}
{% endblock %}
