{{!
@param str search-term
}}

{{> sparql/prefixes.mustache }}

SELECT DISTINCT (REPLACE(STR(?exercise), "^.*\\/([^/]+)$", "$1") AS ?id)
                ?name
WHERE {
  ?exercise a sp:Query ;
    rdfs:label ?name ;
    rdfs:comment ?description ;
    dcterms:subject ?subject .
    BIND (LCASE("{{search-term}}") AS ?searchTerm)
    FILTER (STRENDS(LCASE(STR(?subject)), ?searchTerm)
            ||
            CONTAINS(LCASE(?name), ?searchTerm)
            ||
            CONTAINS(LCASE(?description), ?searchTerm)) 
}
