{{!
@param str        search-term (optional)
@param Array<IRI> search-constructs (optional)
}}

{{> sparql/prefixes.mustache }}

SELECT DISTINCT (REPLACE(STR(?exercise), "^.*\\/([^/]+)$", "$1") AS ?id)
                ?name
WHERE {
  ?exercise a sp:Query ;
    rdfs:label ?name .

  {{#search-term}}
  ?exercise rdfs:comment ?description .
  BIND (LCASE("{{search-term}}") AS ?searchTerm)
  FILTER (CONTAINS(LCASE(?name), ?searchTerm)
          ||
          CONTAINS(LCASE(?description), ?searchTerm)) 
  {{/search-term}}

  {{#search-constructs}}
  ?exercise dcterms:subject <{{.}}> .
  {{/search-constructs}}
}
