{{> sparql/prefixes.mustache }}

SELECT (REPLACE(STR(?exercise), "^.*\\/([^/]+)$", "$1") AS ?id)
       ?name
WHERE {
  ?exercise a sp:Query ;
    rdfs:label ?name ;
    sp:text ?query .    
}
ORDER BY STRLEN(?query) {{! Complexity ~ query length }}
