{{> sparql/prefixes.mustache }}

SELECT ?name ?description ?query ?reveal ?note
WHERE {
  ?exercise a sp:Query ;
    rdfs:label ?name ;
    rdfs:comment ?description ;
    sp:text ?query .

  OPTIONAL {
    ?exercise sparqlab:revealConstructClause ?_revealConstructClause .
  }
  BIND (COALESCE(?_revealConstructClause, true) AS ?reveal)

  OPTIONAL {
    ?exercise skos:note ?note .
  }
}
