{{!
@param Array<IRI> constructs
@param str        language
}}

{{> sparql/prefixes.mustache }}

SELECT ?construct ?label
WHERE {
  VALUES ?construct {
    {{#constructs}}
    <{{.}}>
    {{/constructs}}
  }
  ?construct skos:prefLabel ?label .
  FILTER (langMatches(lang(?label), "{{language}}") || lang(?label) = "")
}
