PREFIX dcterms:  <http://purl.org/dc/terms/>
PREFIX rdf:      <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:     <http://www.w3.org/2000/01/rdf-schema#>
PREFIX skos:     <http://www.w3.org/2004/02/skos/core#>
PREFIX sp:       <http://spinrdf.org/sp#>
PREFIX sparqlab: <http://mynarz.net/sparqlab/vocabulary#>
PREFIX vann:     <http://purl.org/vocab/vann/>
