{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Statistical data on pensions in the Czechia</h1>
   
    <p>SPARQLab uses <a href="https://data.cssz.cz/web/otevrena-data/-/duchodci-v-cr-krajich-okresech">statistical data on pensions</a> in the Czechia that is collected and published by the <a href="http://www.cssz.cz/en/about-cssa">Czech Social Security Administration</a>. Use of the data is governed by <a href="https://data.cssz.cz/web/otevrena-data/podminky-uziti">these licence conditions</a> (in Czech).</p>
  </div>
</div>
{% endblock %}
