{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% include "bubbling_beaker.html" %}
    <p class="lead">SPARQLab slouží k procvičování <a href="https://www.w3.org/TR/sparql11-query/">dotazovacího jazyka <abbr title="SPARQL Protocol And RDF Query Language" class="initialism">SPARQL</abbr></a>.</p>
    
    <p>Cílem jeho úloh je zformulovat SPARQL dotaz tak, aby vyhověl textovému zadání. Pro každou úlohu je nabídnuto vzorové řešení. Aplikace využívá propojená data o důchodových statistikách z České správy sociálního zabezpečení. Úlohy jsou zaměřené na průzkum dat, například pro zjištění dimenzí použitých v datech, ale také na jejich věcnou analýzu, například pro nalezení oblastí s nejvyšším poměrným rozdílem důchodů mezi muži a ženami.</p>

    <p>Zdrojový kód aplikace je volně dostupný v <a href="https://github.com/jindrichmynarz/sparqlab">tomto repozitáři</a>. Pokud se setkáte s chybou, můžete jí nahlásit do <a href="https://github.com/jindrichmynarz/sparqlab/issues">issue trackeru</a>.</p>

    <p>Cvičení používají tyto prvky jazyka SPARQL:
    {% for sparql-construct in sparql-constructs %}
    <a href="{{servlet-context}}/search?construct={{sparql-construct.construct|urlescape}}">{{sparql-construct.label|inline-markdown}}</a>{% ifequal forloop.counter forloop.length|dec %} a {% else %}{% if not forloop.last %}, {% endif %}{% endifequal %}{% endfor %}.</p>

    <h2>Autoři</h2>

    <ul>
      <li><a href="http://mynarz.net/#jindrich">Jindřich Mynarz</a></li>
      <li><a href="http://nb.vse.cz/~svatek">Vojtěch Svátek</a></li>
      <li><a href="http://nb.vse.cz/~xkucj30">Jan Kučera</a></li>
    </ul>

    <p>Vývoj této aplikace byl podpořen z interního rozvojového projektu <a href="https://www.vse.cz">Vysoké školy ekonomické</a> č. 6/2016 a č. 50/2017.</p>
  </div>
</div>
{% endblock %}
