/*
 * Colour palette:
 * Pink #ff358b
 * Blue #01b0f0
 * Green #aeee00
 * Yellow #fef501
 */

html,
body {
	font-family: Rubik, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  color: #555;
}
h1,
h2,
strong {
  color: #333;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.navbar-brand {
  background: url("../img/logo.svg") left / contain no-repeat;
  padding-left: 40px;
}

a {
  color: #01b0f0;
}

pre, code, tt {
  font-family: "Ubuntu Mono", monospace;
}

code {
  color: #ff358b;
}

.control-buttons {
  margin: .5em 0;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.btn.btn-default:focus, .btn.btn-primary:focus, .btn.btn-danger:focus, button.close {
  outline: 0;
}

h3 {
  margin-top: .5em;
}

#exercises a:visited {
  color: #aeaeae;
}

.correct {
  color: #5cb85c; 
}

.incorrect {
  color: #d9534f;
}

.fa.left {
  padding-right: .3em;
}

.fa.right {
  padding-left: .3em;
}

.done-icon {
  color: #ddd;
}

#editor {
  margin-top: 1em !important;
}

#syntax-error {
  color: red;
  border-bottom: 2px dotted red;
}

/* SPARQLab theme for CodeMirror */

.cm-s-sparqlab * { font-family: "Ubuntu Mono", monospace; }
.cm-s-sparqlab .cm-header {color: blue;}
.cm-s-sparqlab .cm-quote {color: #090;}

.cm-s-sparqlab .cm-keyword {color: #a71d5d;} /* PREFIX, SELECT, WHERE, LIMIT, atp. */
.cm-s-sparqlab .cm-atom {color: #0086b3;} /* variables */
.cm-s-sparqlab .cm-number {color: #0086b3;}
.cm-s-sparqlab .cm-def {color: #00f;}
.cm-s-sparqlab .cm-variable,
.cm-s-sparqlab .cm-punc, /* ^^ in datatype annotations, triple separators */
.cm-s-sparqlab .cm-property,
.cm-s-sparqlab .cm-operator {}
.cm-s-sparqlab .cm-variable-2 {color: #05a;} 
.cm-s-sparqlab .cm-variable-3 {color: #795da3;} /* absolute IRIs */
.cm-s-sparqlab .cm-comment {color: #969896;} /* comments */
.cm-s-sparqlab .cm-string {color: #183691;} /* literals */
.cm-s-sparqlab .cm-string-2 {color: #333;} /* prefixes, relative IRIs */
.cm-s-sparqlab .cm-meta {color: #555;}
.cm-s-sparqlab .cm-qualifier {color: #555;}
.cm-s-sparqlab .cm-builtin {color: #30a;}
.cm-s-sparqlab .cm-bracket {color: #997;}
.cm-s-sparqlab .cm-tag {color: #170;}
.cm-s-sparqlab .cm-attribute {color: #00c;}
.cm-s-sparqlab .cm-hr {color: #999;}
.cm-s-sparqlab .cm-link {color: #00c;}
/* highlighted matching brackets */
.cm-s-sparqlab .CodeMirror-matchingbracket {
  color: #ff358b !important;
}

.cm-s-sparqlab .cm-error {color: #f00;} /* errors */
