/*
 * Colour palette:
 * Pink #ff358b
 * Blue #01b0f0
 * Green #aeee00
 * Yellow #fef501
 */

html,
body {
	font-family: Rubik, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  color: #555;
}
h1,
h2,
strong {
  color: #333;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.navbar-brand {
  background: url("../img/logo.svg") left / contain no-repeat;
  padding-left: 40px;
}

a {
  color: #01b0f0;
}

pre, code, tt {
  font-family: "Ubuntu Mono", monospace;
}

code {
  color: #ff358b;
}

.control-buttons {
  margin: .5em 0;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.btn.btn-default:focus, .btn.btn-primary:focus, .btn.btn-danger:focus, button.close {
  outline: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin-top: 1em;
  font-size: 1.2rem;
}

.exercises a:visited {
  color: #9e9e9e;
}

.exercises a:visited:hover {
  color: #666;
}

.correct {
  color: #5cb85c;
}

.incorrect {
  color: #d9534f;
}

.fa {
  padding: 0 .2em;
}

.done-icon {
  color: #ddd;
}

.revealed-icon {
  background-image: url("../img/broken_lock.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 16px;
  height: 1em;
}

#editor {
  margin-top: 1em !important;
}

#syntax-error {
  color: red;
  border-bottom: 2px dotted red;
}

/* SPARQLab theme for CodeMirror */

.cm-s-sparqlab * { font-family: "Ubuntu Mono", monospace; }
.cm-s-sparqlab .cm-header {color: blue;}
.cm-s-sparqlab .cm-quote {color: #090;}

.cm-s-sparqlab .cm-keyword {color: #a71d5d;} /* PREFIX, SELECT, WHERE, LIMIT, atp. */
.cm-s-sparqlab .cm-atom {color: #0086b3;} /* variables */
.cm-s-sparqlab .cm-number {color: #0086b3;}
.cm-s-sparqlab .cm-def {color: #00f;}
.cm-s-sparqlab .cm-variable,
.cm-s-sparqlab .cm-punc, /* ^^ in datatype annotations, triple separators */
.cm-s-sparqlab .cm-property,
.cm-s-sparqlab .cm-operator {}
.cm-s-sparqlab .cm-variable-2 {color: #05a;}
.cm-s-sparqlab .cm-variable-3 {color: #795da3;} /* absolute IRIs */
.cm-s-sparqlab .cm-comment {color: #969896;} /* comments */
.cm-s-sparqlab .cm-string {color: #183691;} /* literals */
.cm-s-sparqlab .cm-string-2 {color: #333;} /* prefixes, relative IRIs */
.cm-s-sparqlab .cm-meta {color: #555;}
.cm-s-sparqlab .cm-qualifier {color: #555;}
.cm-s-sparqlab .cm-builtin {color: #30a;}
.cm-s-sparqlab .cm-bracket {color: #997;}
.cm-s-sparqlab .cm-tag {color: #170;}
.cm-s-sparqlab .cm-attribute {color: #00c;}
.cm-s-sparqlab .cm-hr {color: #999;}
.cm-s-sparqlab .cm-link {color: #00c;}
/* highlighted matching brackets */
.cm-s-sparqlab .CodeMirror-matchingbracket {
  color: #ff358b !important;
}
.cm-s-sparqlab .CodeMirror-merge-l-chunk-start {
  border-top: 1px solid #69d7ff;
}
.cm-s-sparqlab .CodeMirror-merge-l-chunk {
  background-color: #e3f8ff;
}
.cm-s-sparqlab .CodeMirror-merge-l-chunk-end {
  border-bottom: 1px solid #69d7ff;
}
.cm-s-sparqlab .cm-error {color: #f00;} /* errors */

/* Loading animation */
@keyframes pulsate {
  0% { opacity: 0.5; }
  50% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
#loading {
  width: 100px;
  display: none;
}
#loading p {
  animation: pulsate 2.2s ease-in-out infinite;
  text-align: center;
}
@keyframes sway {
  to { transform: rotate(30deg); }
}
@keyframes anti-sway {
  to { transform: rotate(-30deg); }
}
#loading svg {
  transform-origin: center top;
  transform: rotate(-30deg);
  animation: sway 2.2s infinite alternate ease-in-out;
}
#tincture-clip {
  transform-origin: center top;
  transform: rotate(30deg);
  animation: anti-sway 2.2s infinite alternate ease-in-out;
}
@keyframes rotate-colours {
  0% { fill: #ff358b; }
  25% { fill: #01b0f0; }
  50% { fill: #aeee00; }
  100% { fill: #fef501; }
}
#loading-tincture {
  animation: rotate-colours 8.8s infinite alternate ease-in-out;
}

/* Difficulty tags */
.tag-info {
  background-color: #01b0f0;
}
.difficulty0:before {
  content: "\f005";
}
.difficulty1:before {
  content: "\f005\00a0\f005";
}
.difficulty2:before {
  content: "\f005\00a0\f005\00a0\f005";
}

/* 3-column layout */
.column-3 {
  column-width: 18em;
}

.yasqe_tooltip strong {
  color: #fff;
}

@keyframes bubble-up {
  0% {
    transform: scale(.9) translateY(0px);
    opacity:0;
  }
  1% {
    transform: scale(.3);
    opacity: 0;
  }
  30% {
    transform: scale(1);
    opacity: 0.9;
  }
  95% {
    transform: scale(.3) translateY(-210px);
    opacity: 0.1;
  }
  96% {
    transform: scale(.1) translateY(-215px);
    opacity: 0;
  }
  100% {
    transform: scale(.9) translateY(0px);
    opacity: 0;
  }
}
#bubbling-beaker .bubble {
  transform-origin: bottom center;
  animation: bubble-up 6s infinite ease-in;
}
#bubbling-beaker #bubble-1 {
  animation-duration: 6s;
}
#bubbling-beaker #bubble-2 {
  animation-duration: 9s;
}
#bubbling-beaker #bubble-3 {
  animation-duration: 12s;
}
#bubbling-beaker #bubble-4 {
  animation-duration: 10s;
}

.merge-gap-shift {
  padding-left: 3%;
}
